.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: lightgrey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  font-size: medium;
  margin-right: 8px;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .info {
    padding: 4px 6px;
    font-size: 12px;
  }
  
  .info h4 {
    font-size: 13px;
  }
  
  .legend {
    line-height: 16px;
  }
  
  .legend i {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
}
